.aboutUs,
.comingSoon {
  background-color: #f9fafb;
  border-radius: 10px;
}

.infoH2 {
  font-weight: bold;
  font-size: 24px;
  border-bottom: solid 4px #3b82f6;
  display: inline-block;
}

.imgContainer {
  max-width: 200px;
}

.iphoneImage {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .imgContainer {
    margin: 0 auto;
  }
}
