.exchangeFlowLogo {
  width: 25px;
}

.contactUs {
  background-color: #3b82f6;
  color: #f9fafb;
  border-radius: 5px;
  border: 2px solid #3b82f6;
}

.contactUs:hover {
  color: #3b82f6;
  background-color: #f9fafb;
}
